:root {
    --main-color: "#25b553";
    --secondary-color: "#2a7a43";
}

* { 
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

.header {
    padding: 5px 100px;
    border-bottom: 1px solid gray;
}

.header-content { 
    margin: 0 auto;
    max-width: 1920px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.places {
    justify-self: center;
    display: flex;
    gap: 40px;
    font-weight: 600;
}

.login-button {
    font-weight: 600;
    border: 2px solid #25b553;
    padding: 10px 20px;
    border-radius: 12px;
}

.main-content { 
    padding: 40px 50px 10px 50px;
    background: rgb(37,181,83);
    background: linear-gradient(90deg, rgba(37,181,83,1) 0%, rgba(42,122,67,1) 100%);
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.main-text {
    color: white;
    gap: 40px;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-h1 {
    font-weight: 700;
    font-size: 50px;
}

.main-p {
    font-size: 30px;
}

.main-button {
    font-size: 25px;
    font-weight: 500;
    color: #2a7a43;
    border-radius: 16px;
    background-color: white;
    padding: 20px;
}

.circle {
    height: 500px;
    width: 500px;
    border: 5px solid white;
    border-radius: 9999px;
    position: absolute;
    background-color: rgba(0,0,0,0.40);
}

.main-image {
    position: relative;
    width: 500px;
    height: 500px;
}

.main-img {
    height: 500px;
    position: absolute;
    z-index: 999;
}

.pref-content {
    padding: 40px 50px 10px 50px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.card {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    flex: 1 1 0;
    padding: 50px 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card-logo {
    width: 70px;
    height: 70px;
    border: 2px solid #25b553;
    border-radius: 12px;
    padding: 10px;
}

.card-h2 {
    font-size: 30px;
    font-weight: 700;
}

.card-p { 
    color: gray;
    font-size: 17px;
}

.card:nth-child(even) {
    padding: 65px 50px;
}

.pref-header {
    text-align: center;
    font-size: 37px;
    font-weight: 700;
    line-height: 70px;
    margin: 20px;
}

.nextup-content { 
    padding: 40px 50px 10px 50px;
    background: rgb(37,181,83);
    background: linear-gradient(90deg, rgba(37,181,83,1) 0%, rgba(42,122,67,1) 100%);
    display: flex;
    align-items: center;
    gap: 40px;
}

.nextup-card {
    width: 300px;
    height: 400px;
    background: rgba(255, 255, 255, 0.41);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.8px);
    -webkit-backdrop-filter: blur(7.8px);
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.nextup-name {
    font-size: 23px;
    font-weight: 700;
}

.nextup-specs {
    padding-top: 20px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.nextup-button {
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    font-weight: 500;
    color:#2a7a43;
    margin-top: auto;
}

.inline-img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    display: inline-block;
}

.nextup-h1 {
    font-weight: 700;
    font-size: 40px;
    color: white;
}

.nextup-wrapper {
    flex: 4 1 0;
}